@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>

    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/SNLR.JPG" alt="ASP.NET" class="img-responsive" />
        </div>

    </div>
</div>


